/* overture.css | https://github.com/lol-russo/overture */
:root {
  --scale-base: 1em;
  --scale-ratio: var(--perfect-fourth);

  /* Ratios */
  --minor-second: 1.067;
  --major-second: 1.125;
  --minor-third: 1.2;
  --major-third: 1.25;
  --perfect-fourth: 1.333;
  --augmented-fourth: 1.414;
  --perfect-fifth: 1.5;
  --minor-sixth: 1.6;
  --golden-section: 1.618;
  --major-sixth: 1.667;
  --minor-seventh: 1.778;
  --major-seventh: 1.875;
  --octave: 2;

  /* - Negative values */
  --scale-m1: calc(var(--scale-base) / var(--scale-ratio));
  --scale-m2: calc(var(--scale-m1) / var(--scale-ratio));
  --scale-m3: calc(var(--scale-m2) / var(--scale-ratio));
  --scale-m4: calc(var(--scale-m3) / var(--scale-ratio));
  --scale-m5: calc(var(--scale-m4) / var(--scale-ratio));
  --scale-m6: calc(var(--scale-m5) / var(--scale-ratio));

  /* + Positive values */
  --scale-p1: calc(var(--scale-base) * var(--scale-ratio));
  --scale-p2: calc(var(--scale-p1) * var(--scale-ratio));
  --scale-p3: calc(var(--scale-p2) * var(--scale-ratio));
  --scale-p4: calc(var(--scale-p3) * var(--scale-ratio));
  --scale-p5: calc(var(--scale-p4) * var(--scale-ratio));
  --scale-p6: calc(var(--scale-p5) * var(--scale-ratio));
}

/* Example font-size utility classes using our measurement variables */
.font-size-xs {
  font-size: var(--scale-m1);
}
.font-size-s {
  font-size: var(--scale-base);
}
.font-size-m {
  font-size: var(--scale-p1);
}
.font-size-l {
  font-size: var(--scale-p2);
}
.font-size-xl {
  font-size: var(--scale-p3);
}
.font-size-xxl {
  font-size: var(--scale-p4);
}
